.foto-perfil{

    width: 125px;
    height: 125px;

    border-radius: 55px;

}

.alert {
    position: relative;
    padding-right: 50px; 
}
.timeout {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: #405843;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}