.shadow-main-color{
    box-shadow: 1px 1px 5px 1px rgba(0, 204, 190,.4);
}

.alert {
    position: relative;
    padding-right: 50px; 
}
.timeout {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: #405843;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}